@import 'tailwindcss';
@font-face {
	font-family: 'Doors Remade V4 Regular';
	src: url('./foundation.ttf');
}
@font-face {
	font-family: 'Inconsolata';
	src: url('./inconsolata.ttf');
}
@font-face {
	font-family: 'Mangold Regular';
	src: url('./mangold.ttf');
}
@theme {
	--font-foundation-gothic: 'Doors Remade V4 Regular';
	--font-inconsolata: 'Inconsolata';
	--font-mangold: 'Mangold Regular';
}
