@import 'tailwindcss';
@font-face {
	font-family: 'doors_remade_v4regular';
	src: url('/foundation-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inconsolata';
	src: url('/inconsolata.ttf');
}
@font-face {
	font-family: 'Mangold Regular';
	src: url('/mangold.ttf');
}
@theme {
	--font-foundation-gothic: 'doors_remade_v4regular';
	--font-inconsolata: 'Inconsolata';
	--font-mangold: 'Mangold Regular';
}
